<header class="d-flex align-items-center justify-content-center fixed">
    <div class="row justify-content-center">
        <div class="col-md-2">
            <!-- <img src="assets/img/header2.png" id="header2" alt=""> -->
            <!-- <img src="assets/img/header3.png" id="header3"  class="mt-4"alt=""> -->
            <img src="assets/img/logo.png" class="logoDardanSahitaj" alt="">
        </div>

        <div class="col-md-7 d-none d-md-block">
            <nav>
                <ul class="list-group list-group-horizontal d-flex">
                    <li class="m-1 buttonHeader" onclick="clickSurProjets()" id="mesProjets" alt="Mes projets">
                        <a href="#" class="text-white">
                            Programmation
                            <span></span><span></span><span></span><span></span>

                        </a>
                    </li>
                    <li class="m-1 buttonHeader" onclick="clickSurProjets()" id="mesProjets" alt="Mes projets">
                        <a href="#" class="text-white">
                            Design
                            <span></span><span></span><span></span><span></span>

                        </a>
                    </li>
                    <li class="m-1 buttonHeader" onclick="clickSurProjets()" id="mesProjets" alt="Mes projets">
                        <a href="#" class="text-white">
                            Formation
                            <span></span><span></span><span></span><span></span>
                        </a>
                    </li>

                    <li class="m-1 buttonHeader" onclick="clickSurProjets()" id="mesProjets" alt="Mes projets">
                        <a href="#" class="text-white">
                            Projets
                            <span></span><span></span><span></span><span></span>

                        </a>
                    </li>
                    <li class="m-1 buttonHeader" onclick="clickSurCV()" id="CV">
                        <a href="#" class="text-white">
                            CV
                            <span></span><span></span><span></span><span></span>
                        </a>
                    </li>
                    <li class="m-1 buttonHeader" onclick="clickSurAProposDeMoi()" id="aProposDeMoi">
                        <a href="#" class="text-white">
                            A propos de moi
                            <span></span><span></span><span></span><span></span>
                        </a>
                    </li>
                    <li class="m-1 buttonHeader" onclick="clickSurContact()" id="contact">
                        <a href="#" class="text-white">
                            Contact
                            <span></span><span></span><span></span><span></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>