<header class="d-flex align-items-center justify-content-center fixed">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="d-flex">
                    <img src="assets/img/logo.png" class="logoDardanSahitaj" alt="" routerLink="/">
                    <ul class="list-group list-group-horizontal ">
                        <li class="buttonHeader" alt="Programmation">
                            <a routerLink="/programmation">
                                Programmation
                                <span></span><span></span><span></span><span></span>
                            </a>
                        </li>
                        <li class="buttonHeader" alt="Graphisme">
                            <a routerLink="/graphisme">
                                Graphisme
                                <span></span><span></span><span></span><span></span>
                            </a>
                        </li>
                        <li class="buttonHeader" alt="Formation">
                            <a routerLink="/formation">
                                Formation
                                <span></span><span></span><span></span><span></span>
                            </a>
                        </li>
                        <li class="buttonHeader" alt="Marketing">
                            <a routerLink="/marketing">
                                Marketing
                                <span></span><span></span><span></span><span></span>
                            </a>
                        </li>
                        <li class="buttonHeader" alt="A propos de moi">
                            <a routerLink="/a-propos-de-moi">
                                A propos de moi
                                <span></span><span></span><span></span><span></span>
                            </a>
                        </li>
                        <li class="buttonHeader" alt="Me contacter">
                            <a routerLink="/contact">
                                Contact
                                <span></span><span></span><span></span><span></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>