.imgDev {
    width: 75px;
    height: 75px;
    background-color: white;
    margin: 1px;
    padding: 5px;
    border-radius: 5px;
    float: left;
}

.barre_progression {
    height: 50px;
    background: blue;
    border: 1px solid white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}