<!-- début caroussel -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/img/image-accueil.jpg" alt="...">
        </div>
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="assets/img/image-accueil3.jpg" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/img/image-accueil2.jpg" alt="...">
        </div>
    </div>

</div><!-- fin caroussel -->