<div class="bar-answer">
    <div class="container">
        <div class="row">
            <div class="col-7">{{answerBar.server.reponseValue}}</div>
            <div class="col-5">
                <input type="text" id="boiteDeDialogueEnvoi" #box (keyup)="onEnter(box.value)" class="question-button"
                    placeholder="Une question?">
                <button type="button" id="boutonEnvoieBoiteDeDialogue" class="send-button">
                    Envoyer
                </button>
            </div>
        </div>
    </div>
</div>