.bar-answer {
    width: 83%;
    height: 50px;
    color: white;
    text-shadow: 1px 4px 6px #2c3060;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    box-shadow: 1px 4px 6px #2c3060;
    background-color: #00a3cf !important;
    border: 1px solid #2c3060;
}

.question-button {
    border-radius: 4px;
    border: 1px solid;
    background-color: #0000007a;
    box-shadow: 1px 4px 6px #ffffff;
    padding: 7px;
    color: white !important
}

.question-button:hover {
    animation: gelatine 0.5s;
}

.send-button {
    border-radius: 4px;
    border: 1px solid;
    background-color: #0000007a;
    box-shadow: 1px 4px 6px #ffffff;
    padding: 7px;
    color: white !important;
    width: 110px;
}

.send-button:hover {
    animation: gelatine 0.2s;
}