.bar-answer {
    width: 80%;
    padding: 5px;
    color: white;
    text-shadow: 1px 4px 6px #2c3060;
    box-shadow: 1px 4px 6px #2c3060;
    background-color: #00a3cf !important;
    border: 1px solid #2c3060;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.question-button {
    border-radius: 4px;
    border: 1px solid;
    background-color: #0000007a;
    box-shadow: 1px 4px 6px #ffffff;
    padding: 7px;
    color: white !important;
    margin-left: auto;
}

.question-button:hover {
    animation: gelatine 0.5s;
}

.send-button {
    border-radius: 4px;
    border: 1px solid;
    background-color: #0000007a;
    box-shadow: 1px 4px 6px #ffffff;
    padding: 7px;
    color: white !important;
    width: 110px;
}

.send-button:hover {
    animation: gelatine 0.2s;
}


@media screen and (max-width:500px) {
    .bar-answer {
        width: 100% !important;
        font-size: 12px;
        height: 85px;
        display: block;
        padding: 0;
        margin-left: 0;
    }

    .question-button {
        padding: 10px 95px;
        font-size: 11px;
        margin: 0 auto;
        width: 100%;
    }

    .send-button {
        padding: 0;
        margin-left: 0 !important;
    }

}