<!-- <button (click)="addImage()">Add image</button> -->
<div>
    <div class="buttons d-flex justify-content-center align-items-center">
        <button class="button d-flex justify-content-center align-items-center">Adobe Illustrator</button>
        <button class="button d-flex justify-content-center align-items-center">Adobe Photoshop</button>
    </div>



    <lightgallery [settings]="settings" [onInit]="onInit"
        class="d-flex justify-content-center align-items-center flex-wrap">
        <a *ngFor="let item of items" [attr.data-lg-size]="item.size" className="gallery-item" [attr.href]="item.src">
            <h3>titre</h3>
            <div class="border-image-gallery">
                <img class="img-responsive" className="img-responsive" src="{{ item.thumb }}" />
                <div class="date">
                    <span>18 déc 2022</span>
                </div>

            </div>
        </a>
    </lightgallery>
</div>