@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');

body {
    margin: 0;
}

h3 {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

span {
    color: white;
    float: right;
}

.border-image-gallery {
    width: 350px;
    height: 200px;
    padding: 5px;
    overflow: hidden;
    border: 5px solid #2c3060;
    border-radius: 5px;
    margin: 5px;
}

.gallery-item {
    margin: 10px;
}

.img-responsive {
    width: 100%;
    margin: 10px;
    height: auto;
}

.button {
    color: white;
    width: 420px;
    text-shadow: 1px 4px 6px #2c3060;
    margin-top: 10px;
    text-align: center;
    z-index: 101;
    box-shadow: 1px 4px 6px #2c3060;
    background-color: #00a3cf !important;
    border: 1px solid #2c3060;
}