@font-face {
    font-family: minecraf;
    src: url("../assets/fonts/minecraft.ttf") format("truetype");
}

@font-face {
    font-family: robot-dreamer;
    src: url("../assets/fonts/robot-dreamer.ttf") format("truetype");
}

@font-face {
    font-family: christmas;
    src: url("../assets/fonts/christmas.otf") format("truetype");
}

@font-face {
    font-family: signature;
    src: url("../assets/fonts/thesignature.ttf") format("truetype");
}

@font-face {
    font-family: winter-city;
    src: url("../assets/fonts/winter-city.ttf") format("truetype");
}

@font-face {
    font-family: lemonmilk-regular;
    src: url("../assets/fonts/lemonmilk-regular.otf") format("truetype");
}

* {
    font-family: lemonmilk-regular !important;
    color: white;
}

.corps {
    margin-top: 85px;
    min-height: 790px;
}

.the-middle {
    padding-top: 2rem !important;
}

.styleBasic {
    box-shadow: 1px 4px 6px #00A3CF;
    background-color: #2C3060 !important;
    text-shadow: 1px 4px 6px #2C3060;
}

@keyframes gelatine {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}


.hithere {
    animation: hithere 1s ease infinite;
}

@keyframes hithere {
    30% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}